@media all and (max-width: 1000px) {
	.model{
		display: none;
	}

	.container {
		padding: 0px 50px;
	}

	.checkbtn {
    		display: block;
    	}

    	.checkbtn:hover {
		color: white;
	}

    	ul{
    		padding: 0px;
    		margin: 0 auto;
    	}

	.container ul {
        	width: 50%;
        	height: 100%vh;
       		background-color: #F7D59C;
        	position: fixed;
        	top: 60px;
        	right: -700px;
        	left: 1100px;
        	text-align: left;
        	transition: 0.4s ease;
        	z-index: 75;
        	box-shadow: 2px 12px 12px rgba(0,0,0,0.2);
        	padding-left: 60px;
    	}

    	.container ul li {
        	display: block;
        	margin: 60px 0px;
        	line-height: 20px;
    	}

    	#check:checked ~ ul {
        	left: 0;
    	}
    
    	.top-wrapper{
    		width: 100%;
    		margin: 0 auto;
   	}

    	.wrapper-img{
    		display: none;
    	}

	.wrapper-text{
		text-align: left;
		align-items: left;
	}

	.wrapper-text button{
		width: 50%;
	}

	.contents{
		height: 1400px;
	}

	.box-container{
		display: flex;
		flex-wrap: wrap;
	}

	.box-1,
	.box-2, 
	.box-3, 
	.box-4, 
	.box-5{
		margin: 5px 5px;
		width: 48%;
	}

	.box-1 h1,
	.box-2 h1,
	.box-3 h1,
	.box-4 h1,
	.box-5 h1 {
		font-size: 19px;
	}

	input, textarea{
    		width: 75%;
    	}

    	.contacts img{
    		display: none;
    	}

    	.contact{
    		position: relative;
    		margin: 0 auto;
    		width: 50%;
    	}
}

@media all and (max-width: 670px){
	.model{
		display: none;
	}

	.container {
		padding: 0px 50px;
	}

	.checkbtn {
    		display: block;
    	}

	.checkbtn:hover {
		color: white;
	}

	.container ul {
        	width: 100%;
        	height: 100%;
        	background-color: #F7D59C;
        	position: fixed;
        	top: 60px;
        	right: -550px;
        	left: 1000px;
        	text-align: left;
        	transition: 0.4s ease;
        	z-index: 75;
        	box-shadow: 2px 12px 12px rgba(0,0,0,0.2);
        	padding-left: 50px;
    	}

    	.container ul li {
        	display: block;
        	margin: 60px 0px;
        	line-height: 20px;
    	}

    	#check:checked ~ ul {
        	left: 0;
    	}

	.top-wrapper{
		align-items: center;
    		margin: 0 auto;
    		padding: 0px 100px;
    		position: relative;
    		left: 20%;
    		top: 55%;
    	}

    	.top-wrapper h1{
    		font-size: 30px;
    	}

    	.wrapper-img{
    		display: none;
    	}

	.wrapper-text{
		margin: 0 auto;
		padding: 10px 0px;
		text-align: left;
		align-items: left;
	}

	.wrapper-text button{
		width: 100%;
	}

    	button{
    		width: 100%;
    	}

    	footer p, .top-wrapper p, .box-container p{
    		font-size: 15px;
    	}

   	.contact-text h1, .contents-text h1, footer h1{
    		font-size: 25px;
    	}

    	.contents{
    		width: 100%;
    		padding: 0px 100px;
		height: 2250px;
	}

	.box-container{
		display: flex;
		flex-wrap: wrap;
	}

    	.box-1,
	.box-2, 
	.box-3, 
	.box-4, 
	.box-5{
		width: 100%;
		padding: 5px 20px;
		margin: 5px auto;
	}

	.box-1 h1,
	.box-2 h1,
	.box-3 h1,
	.box-4 h1,
	.box-5 h1 {
		font-size: 19px;
	}

	.contacts img{
    		display: none;
    	}

    	.contact{
    		position: relative;
    		margin: 0 auto;
    		width: 100%;
    	}

    	.contact-form, footer{
    		width: 100%;
    		padding: 0px 100px;
    	}
}
